<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
  <hr class="h-2 w-full bg-cover bg-center bg-[url(/Pexels-aparaxic.jpg)] ">
  <h1 class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-400 to-stone-900 hover:to-slate-400
  600" data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

    <span><strong>Caligrama</strong></span><br>
    <span><strong>Estiu 2025</strong></span><br>
    <span><strong>Un vent de tarda</strong></span>

  </h1>
  <hr class="h-1 w-full bg-cover bg-bottom bg-[url(/textil.jpg)] grayscale ">
</div>

<div class=" w-full bg-cover ">


  <div
    class=" bg-[url(/estartitTamariu.png)]   mt-1 bg-no-repeat object-cover bg-center mb-12 w-full flex flex-col lg:flex-row md:flex-row ">
    <!-- Llista de noms -->

    <div class=" w-full h-[90vh] flex justify-center  ">
      <div *ngFor="let part of parts"
        class=" mt-43 md:mt-76 lg:mt-16 md:p-0.5 lg:p-0.5 flex flex-row sm:flex-wrap cursor-grab text-center ">
        <span><strong
          class="verse z-50 bg-clip-text text-transparent bg-gradient-to-b from-yellow-200 to-blue-400  hover:to-yellow-200 hover:font-extrabold  hover:scale-125 border-1 bg-left border-t-orange-400 verso   md:text-xs lg:text-base  mt-1 ">{{
          part.name }}</strong></span>
      </div>
    </div>



  </div>

</div>

<span class="m-2">*Poema en vertical</span>

<div class=" bg-[url(/estartitTamariu.png)] h-screen bg-cover bg-no-repeat flex flex-wrap justify-center">
   <div *ngFor="let part of parts"
        class=" bg-slate-100 bg-opacity-55 w-full justify-center flex flex-col sm:flex-wrap cursor-grab text-center ">
        <pre><strong
          class=" z-50 bg-clip-text text-transparent bg-gradient-to-b from-stone-900 to-stone-500  hover:to-yellow-200 hover:font-extrabold  hover:scale-125 border-1 bg-left border-t-orange-400 ">{{
          part.name }}</strong></pre>
      </div>
</div>
