.active {
  font-weight: bold;
  color: green;
}

.versos {
  font-size: 0.5rem;
}

.songs {
  font-size: 0.7rem;
}

.title_reproductor {
  font-size: 0.8rem;

}

canvas {
  height: 100px;
}

#waveform ::part(wrapper) {
  --box-size: 10px;
  background-image:
    linear-gradient(transparent calc(var(--box-size) - 1px), blue var(--box-size), transparent var(--box-size)),
    linear-gradient(90deg, transparent calc(var(--box-size) - 1px), blue var(--box-size), transparent var(--box-size));
  background-size: 100% var(--box-size), var(--box-size) 100%;
}
