.active {
  font-weight: bold;
  color: green;
}

.versos {
  font-size: 0.5rem;
}

.songs {
  font-size: 0.7rem;
}

.title_reproductor {
  font-size: 0.8rem;

}


.sidenav{
  transition: transform 0.5s ease-in-out;
  bottom: 0;
  transform: translateY(2%);
  visibility: visible;


}


