<div class="mt-5 m-12 w-[88.5vw] lg:w-[88.5vw] md:w-[90.5vw] flex flex-wrap  h-50 parallax">


  <div class="w-[85vw] flex m-14 md:flex-row lg:flex-row  text-stone-800">

    <div class="w-full">
      <h1 class="text-3xl">FIORI POETIC BLOG</h1>
      <img src="/flor5.png" class="w-22 h-20">

    </div>



    <div class="flex flex-col md:flex-row lg:flex-row  w-full gap-2  ">
      <ul class="underline cursor-pointer" >
        <li [routerLink]="['/inicio']">Inicio</li>
        <li [routerLink]="['/sobremi']" >Sobre mi</li>
        <li [routerLink]="['/verses']" >Verses</li>
        <li [routerLink]="['/caligrama']" >Caligrama</li>
        <li [routerLink]="['/morgan']">Morgan</li>

      </ul>

      <ul class="underline">
        <li [routerLink]="['/mindfullness']">Milfullness poems</li>
        <li [routerLink]="['/haikus']">Haikus</li>
        <li [routerLink]="['/haikus-musicados']">Haikus Musicados</li>
        <li [routerLink]="['/haikus-geishas']">Haikus Geishas</li>
        <li [routerLink]="['/tiamat']" >Tiamat, la reina dels dragons...</li>
      </ul>
    </div>


  </div>
  <div class="flex justify-start flex-col p-2">
  <h1 class="text-sm text-left">Copyright © <br>Todos los derechos reservados</h1>
  <h1 class="text-xs text-left">Esta página web<br> ha sido desarrollada y diseñada por Andrea Hernández</h1>
  </div>


