<nav class="mb-1 z-50 bg-zinc-200 fixed w-full top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="https://tse3.mm.bing.net/th/id/OIP.9LqKtokwcvdtCraAnRTRegHaHa?r=0&pid=ImgDet&w=194&h=194&c=7&dpr=1,4&o=7&rm=3"
        class="h-8 rounded-full" alt="Flowbite Logo">
      <span class="text-zinc-400 font-thin title-blog md:text-4xl lg:text-4.5xl sm:text-2xl">Fiori Poetic Blog</span>
    </a>
    <div class="flex  md:order-2 space-x-2 md:space-x-0 rtl:space-x-reverse z-0">

      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-18 h-12 border border-slate-400 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>


    <div class=" z-40 ml-1  hidden   md:flex md:w-auto md:order-1"
      id="navbar-sticky">

      <div class="flex">
        <ul
          class="flex flex-col p-2  md:p-0 mt-2 font-medium border sm:space-x-3  md:space-x-6 rtl:space-x-reverse md:flex-row sm:flex-col md:mt-0 md:border-0  ">
          <li>
            <a [routerLink]="['/Inicio']" routerLinkActive="router-link-active"
              class="ml-1 mr-1 sm:mb-1 border p-1 rounded-xl border-gray-800 text-xs/4 hover:transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125 text-zinc-600 font-semibold  navbar-links">Inicio</a>
          </li>
          <li>
            <a href='/Poemas'
              class="border p-1 rounded-xl border-gray-800 text-xs/4 mr-2 text-zinc-600 font-semibold  navbar-linkshover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125 ">Poemas</a>
            <a href='/Haikus'
              class="border p-1 rounded-xl border-gray-800 mr-8 text-xs/4 text-zinc-600 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-105 ">Haikus</a>
            <a href='/Haikus con musica'
              class="border p-1 rounded-xl border-gray-800 text-xs/4 text-zinc-600 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Haikus
              Musicados</a>
          </li>
          <li>
            <a href='/Cuentos'
              class="border mt-3 p-1 rounded-xl border-gray-800 text-xs/4 text-zinc-600 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Cuentos
            </a>
          </li>
          <li>
            <a href='/Sobre mi'
              class="border p-1 rounded-xl border-gray-800 text-xs/4  text-zinc-600 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Sobre
              mi</a>
          </li>



        </ul>
      </div>

    </div>
  </div>
</nav>
