
.title-blog {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
 font-size: 1.5rem;
}

.navbar-links{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
}

