<div>
  <header class="flex absolute inset-x-0 top-0 w-full bg-slate-50 bg-fixed">
    <nav class="bg-black flex-col items-center justify-between  w-52 " aria-label="Global">
      <div class="text-center p-1 flex flex-col items-center mt-4">
        <a href="#" class="-m-0.5 p-0.5">
          <img class="h-12 w-auto rounded-full mb-2 border border-violet-950 mr-3 ml-2 border-indigo-750"
            src="https://tse3.mm.bing.net/th/id/OIP.9LqKtokwcvdtCraAnRTRegHaHa?r=0&pid=ImgDet&w=194&h=194&c=7&dpr=1,4&o=7&rm=3"
            alt="" />

   


        </a>


        <span class="text-zinc-400 font-thin title-blog p-1 text-5xl">Fiori Poetic Blog</span>
        <div class="p-3  lg:flex md:flex-col lg:gap-x-10">
          <a href="#" class="p-1 hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125 text-zinc-500 font-semibold  navbar-links">Inicio</a>
          <a href="#" class="text-sm/12 text-zinc-500 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Haikus</a>
          <a href="#" class="text-sm/12 text-zinc-500 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Haikus Musicales</a>
          <a href="#" class="text-sm/12 text-zinc-500 font-semibold  navbar-linkshover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125 ">Poemas</a>
          <a href="#" class="text-sm/12  text-zinc-500 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Cuentos musicales</a>
          <a href="#" class="text-sm/12  text-zinc-500 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Sobre mi</a>
          <a href="#" class="text-sm/12 text-zinc-500 font-semibold  navbar-links hover:tracking-tight  transition duration-300 ease-in-out  text-sm/12 hover:scale-y-125 hover:scale-x-125">Contacto</a>
        </div>

      </div>


    </nav>


    <div id="indicators-carousel" class="relative overflow-hidden w-full top-0 " data-carousel="static">

      <div class="relative h-56 rounded-lg md:h-96 ">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out z-0 " data-carousel-item="active">
          <img src="https://images.pexels.com/photos/31415466/pexels-photo-31415466.jpeg"
            class="object-cover absolute z-0 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 "
            alt="..." />

          <div class="relative ml-10 z-10 flex flex-col items-start justify-center h-full w-full">
            <p class="bg-black p-2 mr-2 text-xs text-left font-bold text-white drop-shadow-lg  px-4">
              過去の命（いのち）<br>
              生きた日々あり<br>
              予感育つ<br>
            </p>


            <p class="bg-slate-400 p-2 text-xs mr-2 text-left font-bold text-white drop-shadow-lg  px-4">
              lectura <br>
              fonética:<br>
              Kako no inochi<br>
              Ikita hibi ari<br>
              Yokan sodatsu <br>
            </p>

            <p class="bg-slate-800 p-2 text-2xl text-left font-bold text-white drop-shadow-lg  px-4">
              Vidas pasadas<br>
              Vidas vividas <br>
              y los presentimientos crecen <br>
            </p>
          </div>
        </div>

        <!-- Item 2 -->

        <div class="hidden duration-700 ease-in-out z-0" data-carousel-item="active">
          <img src="https://images.pexels.com/photos/31367384/pexels-photo-31367384.jpeg"
            class="object-cover absolute z-0 block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 "
            alt="..." />

          <div class="relative z-10 flex flex-col items-start justify-center h-full w-full">
            <p class="bg-black p-2 mr-2 text-xs text-left font-bold text-white drop-shadow-lg  px-4">
              花の冠<br>
              蜜と橙の香（か）<br>
              新しい命<br>
            </p>


            <p class="bg-slate-400 p-2 text-xs mr-2 text-left font-bold text-white drop-shadow-lg  px-4">
              lectura <br>
              fonética:<br>
              Hana no kanmuri<br>
              Mitsu to daidai no ka<br>
              Atarashii inochi<br>
            </p>

            <p class="bg-red-600 p-2 text-2xl text-left font-bold text-white drop-shadow-lg  px-4">
              Corona de flores<br>
              miel y azahar en la alcoba <br>
              comienza una nueva vida<br>
            </p>
          </div>
        </div>

      </div>
      <!-- Slider indicators -->
      <div class="absolute p-1 bg-white z-40 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
        <button type="button" class="bg-white w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
          data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
          data-carousel-slide-to="1"></button>


      </div>
      <!-- Slider controls -->
      <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/10 dark:bg-gray-300/30 group-hover:bg-white/60 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-200 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 1 1 5l4 4" />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/20 dark:bg-gray-300/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-200 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
