<nav class="z-40 top-0 h-12 fixed w-[100vw] dark:border-gray-700 text-sm">
  <div class="flex flex-wrap justify-between backdrop:mx-auto bg-stone-200">
    <!-- Logo -->
    <a href="/Inicio" class="flex ml-5 items-center space-x-0 rtl:space-x-reverse">
      <img src="flor5.png" class="h-8 w-8 p-1 object-cover bg-center rounded-full" alt="Logo" />
      <span
        class="p-2 self-center lg:text-xl md:text-sm sm:text-xl font-semibold whitespace-nowrap text-stone-400">
        Fiori Poetic Blog
      </span>
    </a>

    <!-- Botón móvil/tablet -->
    <button data-collapse-toggle="navbar-collapse" type="button"
      class="flex text-gray-500 rounded-lg w-7 h-7 mt-1 border lg:hidden"
      aria-controls="navbar-collapse" aria-expanded="false">
      <span class="sr-only">Abrir menú</span>
      <svg class="w-5 h-5 hover:text-stone-800" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>

    <!-- Menú principal -->
    <div class="hidden flex-wrap w-full lg:block lg:w-[67vw] mt-1 gap-1" id="navbar-collapse">
      <ul
        class="flex flex-col gap-2 font-medium border p-3 px-3 mt-3 rounded-lg lg:flex-row lg:space-x-4 lg:mt-0 lg:border-0 text-stone-500 ">

        <!-- Inicio -->
        <li>
          <a [routerLink]="['/inicio']"
            class="block text-stone-500 rounded  lg:hover:bg-transparent dark:text-stone-400 lg:dark:hover:text-blue-500">
            Inicio
          </a>
        </li>

        <!-- Haikus -->
        <li class="relative">
          <button data-dropdown-toggle="dropdownHaikus"
            class="flex items-center justify-between w-full    lg:hover:bg-transparent lg:dark:hover:text-blue-500">
            Haikus
            <svg class="w-2.5 h-2.5 ml-1" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-width="2" d="M1 1l4 4 4-4" />
            </svg>
          </button>
          <div id="dropdownHaikus"
            class="z-40 h-24 hidden absolute mt-2 bg-white divide-y divide-gray-100 shadow w-48 dark:bg-stone-900 dark:divide-stone-900">
            <ul class="py-2 text-sm dark:text-stone-50">
              <li><a [routerLink]="['/haikus']"
                  class="block px-3 py-0.5  dark:hover:bg-gray-600">Haikus</a></li>
              <li><a [routerLink]="['/haikus-musicados']"
                  class="block px-3 py-1  dark:hover:bg-gray-600">Haikus Musicados</a></li>
              <li><a [routerLink]="['/poemas-colecciones']"
                  class="block px-3 py-1  dark:hover:bg-gray-600">Poemas Colecciones</a></li>
            </ul>
          </div>
        </li>

        <!-- Cuentos -->
        <li class="relative">
          <button data-dropdown-toggle="dropdownCuentos"
            class="flex items-center justify-between w-full dark:text-stone-400 lg:hover:bg-transparent lg:dark:hover:text-blue-500">
            Cuentos
            <svg class="w-2.5 h-2.5 ml-1" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-width="2" d="M1 1l4 4 4-4" />
            </svg>
          </button>
          <div id="dropdownCuentos"
            class="z-40 hidden absolute mt-2 bg-white divide-y divide-gray-100  shadow w-72 dark:bg-stone-900 border border-stone-200 dark:divide-stone-900">
            <ul class="text-sm text-gray-700 dark:text-gray-200">
              <li><a [routerLink]="['/morgan']"
                  class="block px-4 py-1  dark:hover:bg-gray-600">Morgan</a></li>
              <li><a [routerLink]="['/tiamat']"
                  class="block px-4 py-1  dark:hover:bg-gray-600">Tiamat, la reina dels dracs invisibles</a></li>
                 <li><a [routerLink]="['/sakari']"
                  class="block px-4 py-1  dark:hover:bg-gray-600">Sakari, i el seu amic Bru, l'Ós Bru</a></li>
                  <li><a [routerLink]="['/malson']"
                  class="block px-4 py-1  dark:hover:bg-gray-600">Malson abans la Castanyera</a></li>


                </ul>
          </div>
        </li>

        <!-- Otros enlaces -->
        <li><a [routerLink]="['/mindfullness']"
            class="block dark:text-stone-400  lg:hover:bg-transparent lg:p-0 lg:dark:hover:text-blue-500">Mindfullness
           </a></li>
        <li><a [routerLink]="['/verses']"
            class="block dark:text-stone-400 lg:hover:bg-transparent lg:p-0 lg:dark:hover:text-blue-500">Verses</a></li>
        <li><a [routerLink]="['/caligrama']"
            class="block dark:text-stone-400 lg:hover:bg-transparent lg:p-0 lg:dark:hover:text-blue-500">Caligrama</a>
        </li>
         <li><a [routerLink]="['/especial']"
            class="block dark:text-stone-400 lg:hover:bg-transparent lg:p-0 lg:dark:hover:text-blue-500">Especial</a>
        </li>
        <li><a [routerLink]="['/sobremi']"
            class="block dark:text-stone-400  lg:hover:bg-transparent lg:p-0 lg:dark:hover:text-blue-500">Sobre
            mí</a></li>

      </ul>
    </div>
  </div>
</nav>
