#scrolly {
  display: flex;
  height: 100vh;
  margin-top: 10px;
 
}

.scroll__text {
  width: 5.5vw;
  left: 6%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.step {

  margin: 1rem 0;
  padding: 1rem;
  background: rgba(227, 225, 225, 0.691);
  border-radius: 0.5rem;
  cursor: pointer;
}

.scroll__graphic {
  width: 100vw;
  overflow: hidden;

}

.horizontal-container {
  display: flex;
  justify-content:left;
  flex-direction: row;
  transition: transform 0.4s ease-out;
  height: 100vh;
}

.panel {

  height: 100vh;
  display: flex;
  font-size: 2rem;
}
