

<section id="scrolly" >
  <div class="scroll__text relative z-50" >
    <div class="step text-xs w-20" data-step="1">Luna de miel</div>
    <div class="step text-xs w-20" data-step="2">El templo</div>
    <div class="step text-xs w-20" data-step="3">Frio</div>

  </div>

  <div class="scroll__graphic">
    <div class="horizontal-container">


      <div class="panel top-0 w-[100vw] md:w-screen" >


        <div class="relative w-[100vw] md:w-screen flex-shrink-0 snap-start ">

          <img src="./chanel.jpg" class="absolute inset-0 lg:w-[100vw] h-screen w-screen md:w-screen object-cover" />


          <div
            class="relative z-10 flex flex-col sm:top-0 justify-center items-center h-full text-white px-4 text-center space-y-3">
            <span><strong>El perfume</strong></span>


            <div class="text-lg text-right italic text-white/90 bg-cyan-900 bg-opacity-50 p-2">
              <p> El perfume </p>
              <p> mejor pagado </p>
              <p> es el que no se olvida nunca</p><br>
              <p><strong>Abril 2017</strong></p>
            </div>


          </div>
        </div>
      </div>




    </div>
  </div>
</section>

