<div #scrollContainer class="mt-5 flex overflow-x-scroll snap-x snap-mandatory scroll-smooth scrollbar-none h-screen">


  <div class="relative w-full flex-shrink-0 snap-start ">
    <!-- Imagen de fondo -->
    <img src="/textura.jpg" class="absolute inset-0 w-[100vw] h-screen  md:h-screen lg-h-screen object-cover" />

    <!-- Capa oscura encima -->
    <div class="absolute inset-0 bg-black/15"></div>

    <!-- Contenido del haiku -->
    <div
      class="relative z-10 flex flex-row sm:top-0 justify-center items-center h-full text-white px-4 text-center space-y-0.5">
<div class="flex flex-col">
<p class="text-black font-extrabold">SOPLA</p>
      <p class="text-black">Bajo un ciprés</p>
       <p class="text-black">la copa en  la velada</p>
        <p class="text-black">huelo</p>
         <p class="text-black">el paladar de la tierra</p>
         <p class="text-black">el perfume de la sal</p>
          <p class="text-black">y el pelo se despiena</p>
           <p class="text-black">bajo el viento de la Camarga</p>
</div>



      <img src="flor.png" class="h-56 w-24 transition duration-700 ease-in-out skew-x-2 hover:scale-150"/>
       <p class="text-xs font-bold leading-tight text-black">ilustraciones de AHH</p>


    </div>


  </div>






</div>
