<h1
  class="text-5xl m-12 mt-9 mb-12 bg-clip-text text-transparent bg-gradient-to-r from-black to-stone-100 hover:to-red-300">
Poemas cortos
</h1>


<div class="space-y-0">
  @for (item of poemasYVersos; track item.id) {
  <section
    class="relative z-10 mx-10 h-screen flex flex-col items-center justify-center text-center text-white bg-center bg-cover bg-fixed"
    [ngStyle]="{'background-image': 'url(' + item.background + ')'}">

    <!-- Capa oscura -->
    <div class="absolute mt-5 ">
      <p class="text-2xl mb-5 font-bold text-black">{{item.title}}</p>
      <!-- Contenido -->
      <div class="relative flex flex-col justify-center justify-items-center z-10 ">


        <div class="text-xl text-black" *ngIf="poemasYVersos.length">

          @for (verso of item.verses; track verso) {
          <pre>{{ verso }}</pre>
          }

        </div>


        <div class="text-2xl w-full flex justify-center font-bold text-black">
          <img [src]="item.image" class="w-32 h-42">
        </div>

        <div class="text-2xl font-bold text-black">
          <p>{{item.ilus}}</p>

        </div>

      </div>
    </div>
  </section>
  }
</div>
