<h1 class="text-7xl mt-9 mb-5 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500  bg-gradient-to-right  hover:to-orange-500 ...">POEMAS CORTOS</h1>

<div #scrollContainer class="scroll-container overflow-y-scroll h-[calc(100vh-95.99px)] snap-y snap-mandatory scrollbar-hide cursor-grab
"

>

  @for (poem of poemasYVersos; track $index) {

  <div class="relative w-screen h-screen flex-shrink-0 snap-start scrollbar-none ">
    <!-- Imagen de fondo -->


<!-- Fondo parallax -->
    <div
      class="absolute h-[calc(h-screen-48px)] inset-0 top-0 bg-cover bg-center transition-transform duration-300 parallax"

      [style.backgroundImage]="'url(' + poem.background + ')'"

    >



  </div>

    <!-- Capa oscura encima -->
    <div class="absolute inset-0 absolute-inset-capa-oscura"></div>

    <!-- Contenido del haiku -->
    <div
      class=" relative z-10 flex flex-col md:flex-row  sm:top-0 justify-center items-center h-full text-white px-4 text-center space-y-0.5">
      <div class="flex flex-col">
        <p class="text-black font-extrabold text-xl ">{{poem.title}}</p>
        @for (verse of poem.verses; track $index) {
        <p class=" motion-duration-2000 text-black text-xs/4 md:text-xl/5 lg:text-xs/4">{{ verse }}</p>
        }

      </div>



      <img [src]="poem.image" class="h-44 motion-preset-fade motion-duration-2000  w-auto transition duration-700 ease-in-out skew-x-2 hover:scale-125" />
      <p class="text-xs font-bold leading-tight text-black  ">ilustraciones de AHH</p>


    </div>


  </div>



  }


</div>
