<div class="h-72 w-60 bg-zinc-200 z-40  fixed top-20 right-10 rounded-lg">
  <div class="w-full mt-1 ml-1 mr-1">

    <form class="max-w-md mx-auto">
      <div class="w-[223px] p-1 flex mt-1.5 mb-1 mr-1 ml-1 bg-stone-300 rounded-lg">
        <img
          src="https://tse3.mm.bing.net/th/id/OIP.9LqKtokwcvdtCraAnRTRegHaHa?r=0&pid=ImgDet&w=194&h=194&c=7&dpr=1,4&o=7&rm=3"
          class="h-6 me-3 rounded-full" alt="Logo" />
        <span class="self-center text-xs font-semibold whitespace-nowrap dark:text-white">Fiori Poetic blog</span>
      </div>

      <label for="default-search" class="mb-1 text-xs font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative ml-1 mr-0.5 mt-0.5">
        <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
          <svg class="w-2 h-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search"
          class="block w-48 p-0.5 ps-10 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-stone-500 focus:border-stone-500 dark:bg-stone-100 dark:border-stone-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-stone-500 dark:focus:border-stone-500"
          placeholder="Search song..." required />
        <button type="submit"
          class="text-white absolute end-3.5 bottom-0 bg-stone-600 hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-300 font-medium rounded-lg text-xs px-1.5 py-1 dark:bg-stone-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

          <svg class="w-3 h-3 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </button>
      </div>
    </form>

    <!--<div class="w-[230px] mt-0.5 h-24 absolute">
      <img src="https://images.pexels.com/photos/10533337/pexels-photo-10533337.jpeg"
        class="w-[230px] mt-1 h-24 object-cover">
      <div class="w-[230px] mt-1 h-24 relative">
        <h1>Hello</h1>
      </div>-->

    <div class="relative w-[230px] mt-0.5 h-24">
      <img src="https://images.pexels.com/photos/10533337/pexels-photo-10533337.jpeg" alt="Descripción"
        class="w-[230px] mt-1 h-24 object-cover" />
      <div class="absolute w-full top-0 left-0 p-1 text-stone-600 font-bold text-xs bg-stone-100 bg-opacity-50">
        Luna de miel
      </div>

    </div>

  </div>

  <div class="flex flex-col max-w-md mx-auto text-xs mt-0.5 ml-1">
    <span>Luna de miel</span>
    <span><strong>Andrea Hernández</strong></span>
    <div class="w-full max-w-xl">
      <!-- Tiempos -->
      <div class="flex justify-between mt-1 text-xs text-gray-600 mb-1 mr-2">
        <span>0:42</span>
        <span>3:15</span>
      </div>

      <!-- Barra de progreso -->
      <div class="relative w-[230px] h-2 bg-gray-300 rounded ">
        <!-- Progreso -->
        <div class="h-full  bg-blue-600 rounded mr-1" style="width:20%;"></div>

        <!-- Bolita de progreso -->
        <div
          class="absolute top-1/2 left-[22%] w-4 h-4 bg-blue-600 rounded-full transform -translate-x-1/2 -translate-y-1/2 shadow-md">
        </div>
      </div>

      <div class="h-10 p-1 w-[230px] mt-3 rounded-lg bg-stone-300 mr-0.5 ml-0.5">
        <div class="flex mr-2">
          <button class="border border-zinc-500 rounded-lg"> <svg class="mt-1 p-1 " width="24px" height="24px" viewBox="-0.48 -0.48 16.96 16.96" fill="000000"
            xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)" stroke="#b8b8b8">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M1 14H3L9 8L3 2H1V14Z" fill="#000000"></path>
              <path d="M15 2H13V14H15V2Z" fill="#000000"></path>
              <path d="M9 2H11V14H9V2Z" fill="#000000"></path>
            </g>
          </svg></button>


        </div>

      </div>
    </div>


  </div>





</div>
