<h1 class="text-5xl m-12 mt-9 mb-12 bg-clip-text text-transparent bg-gradient-to-r from-black to-stone-100 hover:to-red-300">
  HAIKUS MUSICADOS
</h1>


<div class="space-y-0">
  @for (haiku of haikusMusicados; track haiku.id) {
    <section
      class="parallax relative mx-10 h-screen flex flex-col items-center justify-center text-center text-white bg-center bg-cover bg-fixed"
      [ngStyle]="{'background-image': 'url(' + haiku.img + ')'}">

      <!-- Capa oscura -->
      <div class="absolute inset-0 bg-black/40"></div>

      <!-- Contenido -->
      <div class="relative z-10 space-y-3">
        <p class="text-2xl font-bold">{{haiku.title}}</p>
        <p class="text-xl font-bold">{{haiku.jp}}</p>
        <p class="text-xl font-bold">{{haiku.jp2}}</p>
        <p class="text-xl font-bold">{{haiku.jp3}}</p>

        <div class="text-lg text-white/80">
          <p>{{ haiku.romaji }}</p>
          <p>{{ haiku.romaji1 }}</p>
          <p>{{ haiku.romaji2 }}</p>
        </div>

        <div class="text-2xl font-bold text-white/70">
          <p>{{ haiku.es }}</p>
          <p>{{ haiku.es1 }}</p>
          <p>{{ haiku.es2 }}</p>
        </div>
      </div>
    </section>
  }
</div>
>
