<div class="bg-[url(/pexels-karolina-grabowska-6634136.jpg)]  bg-cover w-full bg-no-repeat  h-56 p-1">
<h1
  class="bg-transparent bg-opacity-15 text-4xl m-12 mt-9 mb-12 bg-clip-text text-transparent bg-gradient-to-b from-red-400 to-stone-900 hover:to-slate-400
  "
  data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

<strong>HAIKUS MUSICADOS</strong>
</h1>


</div>
<app-card [playList$]="haikusMusicadosService.getHaikusMusicados()"></app-card>


<div class="space-y-0">
  @for (item of haikusMusicados; track item.id; let idx = $index) {
  <section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
    class="parallax relative  h-screen flex flex-col items-center justify-center text-center text-white bg-center bg-cover bg-fixed"
    [ngStyle]="{'background-image': 'url(' + item.img + ')'}">

    <!-- Capa oscura -->
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>

    <!-- Contenido -->
    <div class="relative z-10 space-y-3">
      <p class="text-3xl font-bold">{{item.title}}</p>
      <p class="text-xs font-bold">{{item.date}}</p>


      <div class="sm:text-sm md:text-xl lg:text-xl text-white/80">
        <pre>{{ item.jp }}</pre>
        <pre>{{ item.jp2}}</pre>
        <pre>{{ item.jp3 }}</pre>

      </div>

      <div class="sm:text-sm md:text-xl lg:text-xl text-white/80">
        <pre>{{ item.romaji }}</pre>
        <pre>{{ item.romaji1}}</pre>
        <pre>{{ item.romaji2}}</pre>

      </div>
      <div class="sm:text-sm md:text-xl lg:text-xl text-white/80">
        <pre>{{ item.es}}</pre>
        <pre>{{ item.es1}}</pre>
        <pre>{{ item.es2}}</pre>

      </div>

      <div class="p-2 text-xs font-bold text-white">
        <p><strong>ANDREA HERNÁNDEZ</strong></p>

      </div>
    </div>
  </section>
  }
</div>

