<div data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="500" >
<hr class="h-2 w-full bg-cover bg-[url(/newspaper.jpg)] ">
<h1
  class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-400 to-stone-900 hover:to-slate-400
  600"
  data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

  <strong>POEMAS GEISHAS</strong>
</h1>
<hr class="h-1 w-full bg-cover bg-bottom bg-[url(/newspaper.jpg)] ">
</div>


<div class="space-y-0">
  @for (item of versesGeishas ; track item.id) {
  <section
    class="brightness-125 transition duration-700 ease-in-out relative  h-screen flex flex-col items-center justify-center text-center text-white bg-center bg-cover bg-fixed"
    [ngStyle]="{'background-image': 'url(' + item.background + ')'}"
    data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="500">

    <!-- Capa oscura -->
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>

    <!-- Contenido -->
    <div class="relative z-10 space-y-3">
      <p class="text-3xl font-bold">{{item.title}}</p>


      <div class="sm:text-sm md:text-2xl lg:text-3xl text-white/80">
        <pre>{{ item.verses }}</pre>

      </div>

      <div class="p-2 text-xs font-bold text-white">
        <p><strong>{{ item.author }}</strong></p>

      </div>
    </div>
  </section>
  }
</div>

