
<h1 class="text-5xl m-12 mt-9 mb-12 bg-clip-text text-transparent bg-gradient-to-r from-black to-stone-100 hover:to-red-300">
  HAIKUS GEISHAS
</h1>
<app-card></app-card>

<div class="space-y-0">
  @for (item of versesGeishas ; track item.id) {
    <section
      class="parallax relative mx-9 h-screen flex flex-col items-center justify-center text-center text-white bg-center bg-cover bg-fixed"
      [ngStyle]="{'background-image': 'url(' + item.background + ')'}">

      <!-- Capa oscura -->
      <div class="absolute inset-0 bg-black bg-opacity-40"></div>

      <!-- Contenido -->
      <div class="relative z-10 space-y-3">
        <p class="text-3xl font-bold">{{item.title}}</p>


        <div class="sm:text-sm md:text-2xl lg:text-3xl text-white/80">
          <pre>{{ item.verses }}</pre>

        </div>

        <div class="p-2 text-xs font-bold text-white">
          <p><strong>{{ item.author }}</strong></p>

        </div>
      </div>
    </section>
  }
</div>
>

