
<div class="pt-2 h-full  m-14 mt-2 mb-2 font-Poppins bg-[#f95858]  inset-0 overflow-hidden parallax">
  <div class="flex flex-col items-center relative pt-14 overflow-hidden  bg-center bg-cover bg-fixed bg-no-repeat
        "
  style="background-image: url('textura1.jpg');">
    <!-- Animated Background Text -->
    <h1 class="absolute text-3xl md:text-[3rem] font-bold mt-0 text-slate-400 opacity-5 animate-pulse">
   Sobre mi
    </h1>

    <div class="relative flex flex-col items-center mt-8 md:mt-10 group ">
      <!-- Main Heading with Gradient Text -->
      <h1
        class="text-2xl mt-7 md:text-2xl lg:text-2xl text-transparent bg-clip-text bg-gradient-to-r from-zinc-700 to-zinc-300 mb-2 transition-all duration-500 group-hover:scale-105 font-thin">
        Conóceme
      </h1>

      <!-- Animated Border -->
      <div class="relative">
        <div class="w-20 md:w-32 h-0.5  bg-zinc-800 rounded-full overflow-hidden">
          <div class="h-full mt-3 bg-orange-400 animate-progress-bar origin-left"></div>
        </div>
        <div
          class="absolute -bottom-1 left-1/2 transform -translate-x-2/2 w-2 h-2 bg-orange-400 rounded-full animate-ping">
        </div>
      </div>
      <!-- Subtle decorative elements -->

    </div>

    <!-- Optional subtitle -->


    <div class="  md:ml-20 mr-8 ml-8 text-justify mb-3 mt-6">
      <p
        class="mb-3 text-slate-500 dark:text-slate-500 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 black:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start text-sm">
     Soy una gerundense  licenciada en Pedagogía General de la Música(especialidad piano) y Programadora Web (Frontend). Me llamo Andrea, y desde hace mucho tiempo combino la programación con uno de mis pasatiempos preferidos que es la escritura poética, más la modalidad de cuentos infantiles musicados </p>
      <p class="text-gray-500 dark:text-slate-500 text-sm">Desde siempre he querido hacer la fusión perfecta, ya sea a partir de experimentar en diferentes estructuras poéticas(cómo haikus, haikus tradiciones, haikus musicados, poemas), de esta idea nace este blog,  para poder transmitir mis ideas, sentimientos, a través  del universo del Verso, que tantas propiedades curativas para el alma posee. Dicho esto, doy las grácias a quién aterrice a este blog y mi gratitud por entretenerte por estas líneas, <strong class="text-2xl">GRÁCIAS!!!!</strong></p>
    </div>

    <div class="flex justify-center mb-20">
      <img src="perfil.jpg" class="w-52 h-52 mb-3 object-cover object-center rounded-full"/>
    </div>
    </div>

