
<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" class="mt-8 bg-zinc-800">
  <hr class="h-6 mt-16  bg-cover bg-[url(/04.jpg)] ">
  <h1 class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-100 to-stone-900 hover:to-slate-400
  600" data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

    <strong>Malson, abans la Castanyera</strong>
  </h1>
  <hr class="h-1 w-full bg-cover bg-left-bottom bg-[url(/04.jpg)]  ">
</div>


<div class="flex justify-center place-items-center mt-20 mb-12 ml-10 mr-10 /">

  <ng2-pdfjs-viewer class="w-full h-screen"
    pdfSrc="/assets/tempsdetemps.pdf"
     [showSpinner]="true"
     [showSpinner]="true"
     [theme]="'dark'"
     [showSidebar]="true"
>
  </ng2-pdfjs-viewer>
</div>


<span>Conte escrit per Andrea Hernández</span>

<div data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="500" >
<hr class="h-6 mt-16 bg-cover bg-center bg-[url(/04.jpg)] ">
<h1
  class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-400 to-stone-900 hover:to-slate-400
  600"
  data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

  <strong>Malson abans la Castanyera</strong><br>
  <strong>L'Orígen</strong>
</h1>
<hr class="h-1 w-full bg-cover bg-bottom bg-[url(/textil.jpg)] grayscale ">
</div>


<div class="space-y-0" >

    <section
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="500"
      class="relative z-10 p-2 mb-2 h-screen flex flex-col items-center justify-center justify-items-center text-center text-white bg-center bg-cover bg-fixed
    bg-[url(/calabazas.jpg)]">

      <!-- capa oscura -->
      <div class="absolute ">

        <!-- contenido -->
        <div
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="500"

        class="relative mt-12 flex flex-col justify-start justify-items-start z-10 bg-white bg-opacity-0">

          <!-- versos -->

           <div class="mt-2 md:text-sn lg:text-sm text-stone-950" >


          <p>La Castanyada és una festa típica de Catalunya que se celebra a la tardor, pels voltants de l’1 de novembre (Tots Sants). S’assembla una mica al Halloween<br> d’altres països, però té costums diferents.</p> <br>

         <p>Fa molts anys, la Castanyada era una manera de recordar les persones que ja no hi són, <br>i per això les famílies resaven mentre torraven castanyes.<br>

          Un dels personatges més coneguts és la Castanyera, una dona gran amb un mocador al cap,<br> que ven castanyes calentes al carrer i crida:

          “Calentes i grosses! Qui en vol, ara que fumen?”</p><br>

       <p>Durant la festa, la gent fa focs de llenya, torra castanyes, s’embruta la cara amb el sutge i salta les fogueres per portar sort.<br> També es canten cançons i s’expliquen contes.

      Avui dia, la Castanyada és una festa alegre que celebra la tardor,<br> la família i les tradicions catalanes. 🍂🔥🌰</p><br>

        </div>
          <!-- imagen -->

        </div>
      </div>
    </section>


    <div
 data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="500"
    class="relative z-10 p-2  h-screen flex flex-col items-center justify-center justify-items-center text-center text-white bg-center bg-cover bg-fixed
    bg-[url(/calabazas1.jpg)]">
      <div class="bg-local w-full h-screen flex justify-center place-items-center font-bold text-black bg-transparent opacity-85">
            <img src="castanera.jpeg" class="w-32 h-42 object-contain ">
          </div>
            <p class="text-cyan-600 ">Ilustraciones<br>  <br>FREEPIK, Microsoft IA </p>

         <div class=" bg-fixed w-full h-screen absolute text-3xl flex justify-center place-items-center mt-40 font-bold text-black">
        <p class="title font-light text-cyan-600 ">Malson <br>Abans <br>La Castanyera</p>
          </div>

    </div>

</div>



