


<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" class="mt-8 bg-zinc-800">
  <hr class="h-6 mt-16  bg-cover bg-[url(/04.jpg)] ">
  <h1 class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-100 to-stone-900 hover:to-slate-400
  600" data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

    <strong>Malson, abans la Castanyera</strong>
  </h1>
  <hr class="h-1 w-full bg-cover bg-left-bottom bg-[url(/04.jpg)]  ">
</div>


<div class="flex justify-center place-items-center mt-20 mb-12 ml-10 mr-10 /">
  <iframe width="500px" height="400px" src="https://www.flipbookpdf.net/web/site/59c3eb909600af6c86086042523099ae06f9fa1d202510.pdf.html" frameborder="0"
    marginheight="0" marginwidth="1" max-width="100%"
    sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts"
    scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen
    msallowfullscreen webkitallowfullscreen></iframe>
</div>


<span>Conte escrit per Andrea Hernández</span>





<div data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="500" >
<hr class="h-6 mt-16 bg-cover bg-center bg-[url(/04.jpg)] ">
<h1
  class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-400 to-stone-900 hover:to-slate-400
  600"
  data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

  <strong>Malson abans la Castanyera</strong><br>
  <strong>L'Orígen</strong>
</h1>
<hr class="h-1 w-full bg-cover bg-bottom bg-[url(/textil.jpg)] grayscale ">
</div>


<div class="space-y-0" >

    <section
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="500"
      class="relative z-10 h-screen flex flex-col items-center justify-center justify-items-center text-center text-white bg-center bg-cover bg-fixed
    bg-[url(/calabazas.jpg)]">

      <!-- capa oscura -->
      <div class="absolute ">
        <p class="text-xl font-bold text-black bg-white bg-opacity-0">
 I com va començar tot????
        </p>


        <!-- contenido -->
        <div class="relative flex flex-col justify-start justify-items-start z-10 bg-white bg-opacity-0">

          <!-- versos -->

           <div class="mt-2 md:text-xl lg:text-sm text-stone-950" >


          <p>La Castanyada és una festa típica de Catalunya que se celebra a la tardor, pels voltants de l’1 de novembre (Tots Sants). S’assembla una mica al Halloween<br> d’altres països, però té costums diferents.</p> <br>

         <p>Fa molts anys, la Castanyada era una manera de recordar les persones que ja no hi són, <br>i per això les famílies resaven mentre torraven castanyes.<br>

Un dels personatges més coneguts és la Castanyera, una dona gran amb un mocador al cap,<br> que ven castanyes calentes al carrer i crida:

“Calentes i grosses! Qui en vol, ara que fumen?”</p><br>

<p>Durant la festa, la gent fa focs de llenya, torra castanyes, s’embruta la cara amb el sutge i salta les fogueres per portar sort.<br> També es canten cançons i s’expliquen contes.

Avui dia, la Castanyada és una festa alegre que celebra la tardor,<br> la família i les tradicions catalanes. 🍂🔥🌰</p><br>

        </div>


          <!-- imagen -->
          <div class="w-full flex justify-center font-bold text-black">
            <img src="castanera.jpeg" class="w-32 h-28 object-contain">
          </div>

          <!-- ilustración / autor -->
          <div class=" mt-2 text-xs font-bold text-black mb-5 ilus-word">
            <p>Ilustraciones<br> + poemas <br>: <br></p>
          </div>

        </div>
      </div>
    </section>

</div>



