

<div data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="500" >
<hr class="h-2 bg-cover bg-center bg-[url(/Pexels-aparaxic.jpg)] grayscale">
<h1
  class="text-xl m-1 bg-clip-text text-transparent bg-gradient-to-b from-stone-400 to-stone-900 hover:to-slate-400
  600"
  data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">

  <strong>{{title}}</strong>
</h1>
<hr class="h-1 w-full bg-cover bg-bottom bg-[url(/textil.jpg)] grayscale ">
</div>




<div class="space-y-0" >
  @for (item of verses; track item.id) {
    <section
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="500"
      class="relative z-10 h-screen flex flex-col items-center justify-center justify-items-center text-center text-white bg-center bg-cover bg-fixed"
      [ngStyle]="{'background-image': 'url(' + item.background + ')'}">

      <!-- capa oscura -->
      <div class="absolute ">
        <p class="text-xl font-bold text-black bg-white bg-opacity-0">
          {{ item.title }}
        </p>


        <!-- contenido -->
        <div class="relative flex flex-col justify-center justify-items-center z-10 bg-white bg-opacity-0">

          <!-- versos -->

           <div class="mt-2 md:text-xl lg:text-sm text-stone-950" *ngIf="verses.length">

          @for (verso of item.verses; track verso.id +'-' + $index) {
          <pre>{{ verso }}</pre>
          }

        </div>


          <!-- imagen -->
          <div class="w-full flex justify-center font-bold text-black">
            <img [src]="item.image" class="w-32 h-28 object-contain">
          </div>

          <!-- ilustración / autor -->
          <div class=" mt-2 text-xs font-bold text-black mb-5 ilus-word">
            <p>Ilustraciones<br> + poemas <br>: <br>{{ item.ilus }}</p>
          </div>

        </div>
      </div>
    </section>
  }
</div>



