<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" class="mt-8">
  <hr class="h-5  w-full bg-cover bg-center bg-[url(/Pexels-aparaxic.jpg)] ">
  <h1 class="text-xl m-1 ml-2 mt-2 bg-clip-text text-transparent bg-gradient-to-b from-red-500 to-red-900 hover:to-red-400
  600" data-aos="zoom-in-right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">
    <span><strong>Fechas Especiales</strong></span><br>

  </h1>
  <hr class="h-1 w-full bg-cover bg-bottom backdrop-blur-3xl blur-sm bg-[url(/textil.jpg)] grayscale">

  <div class="w-full   h-[100vh]">

<div class="flex  mt-10 w-full justify-center  place-items-center ">
    <pre class="text-xs p-1 font-bold mr-2  text-rose-500">
   xx   xx
  xxxxxxxxx
    xxxxx
      x
  </pre>

  <h1 class="font-normal text-xl text-rose-300">LOVE</h1>

  <pre class="text-xs font-bold  text-red-500">
   xx   xx
  xxxxxxxxx
    xxxxx
      x
  </pre>
</div>

<div class="flex  justify-center">

    <pre class="text-xs font-bold  text-red-500">
   xx   xx
  xxxxxxxxx
    xxxxx
      x
  </pre>
  <pre class=" text-rose-400 text-sm font-extralight text-right">
    Presente,
    Silencio;
    Un latido,
    Nada más.
  </pre>

  <pre class="text-xs font-bold  text-red-500">
   xx   xx
  xxxxxxxxx
    xxxxx
      x
  </pre>

</div>

<div class=" flex justify-center">
<pre class="text-xs flex justify-center font-bold  mr-5 text-red-500">
   xx   xx
  xxxxxxxxx
    xxxxx
      x

  </pre>


<pre class="text-xs flex justify-center font-bold  text-red-500">
   xx   xx
  xxxxxxxxx
    xxxxx
      x

  </pre>

  </div>

  <pre class="text-xs  flex justify-center font-bold  text-red-500">

FioriPoeticBlog

  </pre>

</div>

</div>


