
<div class="flex w-full justify-center mt-20  h-[calc(100vh-79.95px)] mb-2 parallax/">
<iframe width="660px" height="400px" src="https://sway.cloud.microsoft/s/oQcA32nzBIExhll4/embed" frameborder="0" marginheight="0" marginwidth="0" max-width="100%" sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts" scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen msallowfullscreen webkitallowfullscreen></iframe>
</div>

<!--fuera
<div class="flex justify-center relative  bg-red-600 w-full h-96 mt-2 z-0">
  <div class="absolute   bg-blue-500 w-full h-96 z-40"> helññp

    <div class="flex clear-end float-end w-32 mt-32 bg-green-200 ">
      <p>hello</p>
    </div>

  </div>

</div>
-->
<app-morgan-card [audios]="MorganNarrations"></app-morgan-card>
