<div class="book-container flex justify-center items-center mt-24">
  <div
    class="book-page"
    [class.flipped]="isFlipped"
    [ngStyle]="{
      'background-image': bookData.pages[currentPage].image && bookData.pages[currentPage].image !== 'null'
        ? 'url(' + bookData.pages[currentPage].image + ')'
        : 'none'
    }"
  >
    <div class="front ">
      <h2 class="text-xs font-bold mb-4  p-2 rounded">
        {{ bookData.pages[currentPage].title }}
      </h2>
      <div class="bg-black/40 p-2 rounded max-w-[50%]">
        <div *ngFor="let line of bookData.pages[currentPage].content">
          <p class="mb-2 text-xs">{{ line }}</p>
        </div>
      </div>
    </div>
    <div class="back">
      <!-- Aquí puedes poner contenido para el reverso si quieres -->
      <p class="text-sm">Esta es la parte trasera de la página</p>
    </div>
  </div>
</div>

<div class="flex justify-center mt-4 gap-4">
  <button (click)="prevPage()" [disabled]="currentPage === 0" class="bg-violet-200 p-2 rounded">
    Pàgina anterior
  </button>
  <button (click)="nextPage()" [disabled]="currentPage === bookData.pages.length - 1" class="bg-green-200 p-2 rounded">
    Pàgina següent
  </button>
  <button (click)="toggleFlip()" class="bg-blue-400 p-2 rounded text-white">
    Girar Página
  </button>
</div>
