/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

/* Luego ya puedes añadir tus reglas */
*, ::before, ::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body{
  font-family: "Special Elite", system-ui;

}

.disableScroll, .disableScroll > *{
      overflow-y:hidden !important;
      overflow-x:hidden !important;
}


