/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

/* Luego ya puedes añadir tus reglas */
*, ::before, ::after {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  scroll-behavior:unset;

}


body{
  font-family: "Special Elite", system-ui;
}


.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

/*Ocultar el texto “Powered by Google Translate”
.goog-logo-link, .goog-te-gadget span {
 display: none !important;

}
 */

/* Ajustar el selector */
#google_translate_element select {
  font-size: 0.6rem;
  @apply px-0.5 py-0.5 mr-2 rounded-sm bg-violet-800 text-white border border-gray-600 shadow-md cursor-pointer flex flex-col mt-12 fixed ;
}

